@font-face {
	
	src: url(Fonts/Nunito-Bold.ttf);
}
#new-game-button {
	
	-fx-background-color: #F0F8FF,
        rgba(0,0,0,0),
        linear-gradient(#483D8B, #483D8B);
    -fx-background-insets: 0,9 9 8 9,3,10,11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 24px;
    -fx-text-fill: #F0F8FF;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}
#new-game-button:hover {

	-fx-background-color: #F0F8FF,
        rgba(0,0,0,0),
        linear-gradient(#4B0082, #4B0082);
    -fx-background-insets: 0,9 9 8 9,3,10,11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 24px;
    -fx-text-fill: #F0F8FF;

    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}
#continue-button {
	
	-fx-background-color: #F0F8FF,
        rgba(0,0,0,0),
        linear-gradient(#483D8B, #483D8B);
    -fx-background-insets: 0,9 9 8 9,3,10,11;
    -fx-background-radius: 50;
    -fx-padding: 15 40 15 40;
    -fx-font-family: "Helvetica";
    -fx-font-size: 24px;
    -fx-text-fill: #F0F8FF;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}
#continue-button:hover {

	-fx-background-color: #F0F8FF,
        rgba(0,0,0,0),
        linear-gradient(#4B0082, #4B0082);
    -fx-background-insets: 0,9 9 8 9,3,10,11;
    -fx-background-radius: 50;
    -fx-padding: 15 40 15 40;
    -fx-font-family: "Helvetica";
    -fx-font-size: 24px;
    -fx-text-fill: #F0F8FF;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}
#quit-button {
	
	-fx-background-color: #F0F8FF,
        rgba(0,0,0,0),
        linear-gradient(#483D8B, #483D8B);
    -fx-background-insets: 0,9 9 8 9,3,10,11;
    -fx-background-radius: 50;
    -fx-padding: 15 66 15 66;
    -fx-font-family: "Helvetica";
    -fx-font-size: 24px;
    -fx-text-fill: #F0F8FF;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}
#quit-button:hover {

	-fx-background-color: #F0F8FF,
        rgba(0,0,0,0),
        linear-gradient(#4B0082, #4B0082);
    -fx-background-insets: 0,9 9 8 9,3,10,11;
    -fx-background-radius: 50;
    -fx-padding: 15 66 15 66;
    -fx-font-family: "Helvetica";
    -fx-font-size: 24px;
    -fx-text-fill: #F0F8FF;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}
#play-button {
	
	-fx-background-color: #F0F8FF,
        rgba(0,0,0,0),
        linear-gradient(#483D8B, #483D8B);
    -fx-background-insets: 0,9 9 8 9,3,10,11;
    -fx-background-radius: 50;
    -fx-padding: 15 50 15 50;
    -fx-font-family: "Helvetica";
    -fx-font-size: 24px;
    -fx-text-fill: #F0F8FF;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}
#play-button:hover {

	-fx-background-color: #F0F8FF,
        rgba(0,0,0,0),
        linear-gradient(#191970, #191970);
    -fx-background-insets: 0,9 9 8 9,3,10,11;
    -fx-background-radius: 50;
    -fx-padding: 15 50 15 50;
    -fx-font-family: "Helvetica";
    -fx-font-size: 24px;
    -fx-text-fill: #F0F8FF;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}
#dialog-button {
	
	-fx-background-color: #F0F8FF,
        rgba(0,0,0,0),
        linear-gradient(#191970, #191970);
    -fx-background-insets: 0,9 9 8 9,2.5,10,11;
    -fx-background-radius: 50;
    -fx-padding: 11 34 11 34;
    -fx-font-family: "Helvetica";
    -fx-font-size: 22px;
    -fx-text-fill: #F0F8FF;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}
#mode-button {

    -fx-text-fill: #F0F8FF; 
}
#tile-large-text {
	
	-fx-font-family: "Helvetica";
	-fx-font-weight: bold;
	-fx-font-size: 56px;
	-fx-fill: #F0F8FF;
}
#tile-medium-text {
	
	-fx-font-family: "Helvetica";
	-fx-font-weight: bold;
	-fx-font-size: 46px;
	-fx-fill: #F0F8FF;
}
#tile-small-text {
	
	-fx-font-family: "Helvetica";
	-fx-font-weight: bold;
	-fx-font-size: 38px;
	-fx-fill: #F0F8FF;
}
#score-text {
	
	-fx-font: 40 helvetica;
	-fx-font-weight: bold;
	-fx-fill: #E6E6FA;
}
#score {
	
	-fx-font-family: "helvetica";
	-fx-font-weight: bold;
	-fx-font-size: 32px;
	-fx-fill: #E6E6FA;
}
#title-text {
	
	-fx-font-family: "Nunito";
	-fx-font-size: 110px;
	-fx-fill: #E6E6FA;
}
#game-over-text {
	
	-fx-font-family: "helvetica";
	-fx-font-size: 50px;
	-fx-font-weight: bold;
	-fx-fill: #F0F8FF;
}
#menu-pane {
	
	-fx-background-color: #6495ED;
}
#dialog-window {
	
	-fx-background-color: #7B68EE;
}
#select-mode-pane {
	
	-fx-background-color: #6A5ACD;
}